<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Add Answer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    </head>
<body>

<h1>Form</h1>
    <form th:action="@{edit}" th:object="${Answer}" method="post">
     	<p>Vastaus: <input type="text" field="*{answer}" /></p>    
        <p><input type="submit" value="Submit" /></p>
    </form>

</body>
</html>