<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FBEnd Boot System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
 
</head>
<body>

<h1>Form</h1>
    <form th:action="@{/addEnquiry}" th:object="${enquiry}" method="post">
        <p>Kysely: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

    
</body>
</html>